.block {
    width: 600px;
    height: 700px;
    background: #222222;
    border: 10px solid #828282;
    border-radius: 50px;
}

.watch {
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 39px;
    color: #FFFFFF;
    margin: 51px 48px 14px 493px;
}

.interface {
    margin: auto;
    background-image: url(watch.png);
    width: 472px;
    height: 472px;
}

.datasince {
    width: 104px;
    font-family: 'K2D';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    color: #FFFFFF;
    margin: 17px auto 12px auto;
    display: flex;
}

.button {
    margin: 0px auto 40px auto;
    width: 230px;
    height: 10px;
    background: #FFFFFF;
    border-radius: 1px;
}